.wordcount
  span= '猹居然写了 ' + totalcount(site) + ' 字'
  </br>
  span= "好像写完一本 曹禺 的《日出》了啊"
.footer-content
  a(href="https://hexo.io" target="_blank" rel="nofollow noopener")
    span(style="padding: 0.4rem")= 'hexo'
  a
    i.fas.fa-heart
  a(href="https://butterfly.js.org/" target="_blank" rel="nofollow noopener")
    span(style="padding: 0.4rem")= 'butterfly'
  div(style="font-size: 0.7rem")
    span#timeDate= '载入天数...'
    span= ' '
    span#times= '载入时分秒...'
    script(src="/js/add/duration.js")
.statistics
  span#site_uv= '有 '
    span#busuanzi_value_site_uv
    span= ' 人光顾过猹的小窝'
  span#site_pv
    span= '共 '
    span#busuanzi_value_site_pv
    span= ' 次在这里摘了个瓜'
    
